<h2>Agregar Producto</h2>
<form action="/api/productos" enctype="multipart/form-data" method="POST">
  Titulo: <input type="text" name="title" /> 
  <br/>
  Precio:<input type="number" name="price" />
  <br/> 
  Foto: <input type="file" name="myFile" accept="image/*" />
  <br/>
  <button>Enviar</button>
</form>
<hr/>

